config/schemas/marcrel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	targetNamespace="http://www.loc.gov/marc.relators/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:marcrel="http://www.loc.gov/loc.terms/relators/"
	>

  <xs:annotation>
    <xs:documentation xml:lang="en">
    Dublin Core, Collection-Level Description Marc-Relator Terms

    Based on:  http://www.ukoln.ac.uk/metadata/dcmi/collection-application-profile/

    $Workfile: marcrel.xsd $ $Revision: 1 $

    Last Updated by $Author: Cordial $ on $Modtime: 4/07/05 2:46p $

    $History: marcrel.xsd $
 * 
 * *****************  Version 1  *****************
 * User: Cordial      Date: 12/05/06   Time: 4:17p
 * Created in $/IMLSDCC/REGISTRY
 * 
 * *****************  Version 3  *****************
 * User: Thabing      Date: 4/07/05    Time: 3:47p
 * Updated in $/IMLSDCC/Collection Registry XML Export
 * Corrected the annotation namespaces

    </xs:documentation>
  </xs:annotation>


  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" />
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd" />

  <xs:element name="act" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Actor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="adp" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Adapter</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="anm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Animator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ann" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Annotator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="app" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Applicant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="arc" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Architect</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="arr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Arranger</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="art" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Artist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="asg" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Assignee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="asn" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Associated name</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="att" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Attributed name</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="auc" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Auctioneer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="aut" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Author</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="aqt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Author in quotations or text extracts</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="aft" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Author of afterword, colophon, etc.</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="aud" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Author of dialog</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="aui" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Author of introduction, etc.</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="aus" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Author of screenplay, etc.</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ant" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Bibliographic antecedent</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bnd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Binder</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bdd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Binding designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bkd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Book designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bkp" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Book producer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bjd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Bookjacket designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bpd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Bookplate designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="bsl" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Bookseller</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cll" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Calligrapher</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ctg" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Cartographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cns" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Censor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="chr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Choreographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cng" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Cinematographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cli" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Client</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="clb" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Collaborator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="col" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Collector</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="clt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Collotyper</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cmm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Commentator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cwt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Commentator for written text</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="com" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Compiler</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cpl" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Complainant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cpt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Complainant-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cpe" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Complainant-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cmp" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Composer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cmt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Compositor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ccp" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Conceptor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cnd" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Conductor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="csl" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Consultant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="csp" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Consultant to a project</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cos" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Contestant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cot" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Contestant-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="coe" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Contestant-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cts" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Contestee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ctt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Contestee-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cte" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Contestee-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ctr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Contractor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ctb" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Contributor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cpc" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Copyright claimant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cph" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Copyright holder</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="crr" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Corrector</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="crp" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Correspondent</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cst" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Costume designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cov" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Cover designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cre" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Creator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="cur" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Curator of an exhibition</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dnc" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Dancer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dte" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Dedicatee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dto" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Dedicator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dfd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Defendant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dft" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Defendant-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dfe" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Defendant-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dgg" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Degree grantor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dln" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Delineator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dpc" substitutionGroup="dc:subject">
  <xs:annotation>
  <xs:documentation>Depicted</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dpt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Depositor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dsr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="drt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Director</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dis" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Dissertant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dst" substitutionGroup="dc:publisher">
  <xs:annotation>
  <xs:documentation>Distributor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dnr" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Donor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="drm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Draftsman</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="dub" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Dubious author</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="edt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Editor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="elt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Electrotyper</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="eng" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Engineer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="egr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Engraver</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="etr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Etcher</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="exp" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Expert</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="fac" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Facsimilist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="flm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Film editor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="fpy" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>First party</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="frg" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Forger</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="fmo" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Former owner</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="fnd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Funder</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="hnr" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Honoree</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="hst" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Host</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ilu" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Illuminator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ill" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Illustrator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ins" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Inscriber</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="itr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Instrumentalist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ive" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Interviewee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ivr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Interviewer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="inv" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Inventor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lsa" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Landscape architect</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="len" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Lender</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lil" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Libelant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lit" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Libelant-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lie" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Libelant-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lel" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Libelee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="let" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Libelee-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lee" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Libelee-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lbt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Librettist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lse" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Licensee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lso" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Licensor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lgd" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Lighting designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ltg" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Lithographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="lyr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Lyricist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mfr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Manufacturer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mrk" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Markup editor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mdc" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Metadata contact</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mte" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Metal-engraver</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mod" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Moderator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mon" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Monitor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="mus" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Musician</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="nrt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Narrator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="opn" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Opponent</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="orm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Organizer of meeting</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="org" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Originator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="oth" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Other</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="own" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Owner</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ppm" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Papermaker</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pta" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Patent applicant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pth" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Patent holder</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pat" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Patron</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="prf" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Performer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pht" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Photographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ptf" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Plaintiff</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ptt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Plaintiff-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pte" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Plaintiff-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="plt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Platemaker</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="prt" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Printer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pop" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Printer of plates</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="prm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Printmaker</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="prc" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Process contact</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pro" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Producer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="prd" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Production personnel</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="prg" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Programmer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pfr" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Proofreader</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pbl" substitutionGroup="dc:publisher">
  <xs:annotation>
  <xs:documentation>Publisher</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="pbd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Publishing director</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ppt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Puppeteer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rcp" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Recipient</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rce" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Recording engineer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="red" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Redactor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ren" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Renderer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rpt" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Reporter</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rth" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Research team head</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rtm" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Research team member</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="res" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Researcher</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rsp" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Respondent</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rst" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Respondent-appellant</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rse" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Respondent-appellee</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rpy" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Responsible party</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rsg" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Restager</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rev" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Reviewer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="rbr" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Rubricator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="sce" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Scenarist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="sad" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Scientific advisor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="scr" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Scribe</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="scl" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Sculptor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="spy" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Second party</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="sec" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Secretary</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="std" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Set designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="sgn" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Signer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="sng" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Singer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="spk" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Speaker</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="spn" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Sponsor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="stn" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Standards body</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="str" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Stereotyper</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="stl" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Storyteller</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="srv" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Surveyor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="tch" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Teacher</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="ths" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Thesis advisor</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="trc" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Transcriber</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="trl" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Translator</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="tyd" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Type designer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="tyg" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Typographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="vdg" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Videographer</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="voc" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Vocalist</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="wit" substitutionGroup="dc:any">
  <xs:annotation>
  <xs:documentation>Witness</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="wde" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Wood-engraver</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="wdc" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Woodcutter</xs:documentation>
  </xs:annotation>
  </xs:element>
  <xs:element name="wam" substitutionGroup="dc:contributor">
  <xs:annotation>
  <xs:documentation>Writer of accompanying material</xs:documentation>
  </xs:annotation>
  </xs:element>

</xs:schema>
